<div id="dash-body-main" id="warehouse" data-warehouse={{data.warehouse}}>
    <div class="row">
        <div class="col-xs-3 gap sales-order" id="p1">
            <div class="row" style="margin-right:0">
                <div class="col-xs-8" style="text-align: left;padding-left: 30px;">
                    <h5>Sales Order</h5>
                </div>
                <div class="col-xs-4">
                    <div class="row align-middle">
                        <div class="col-xs-7 text-right prl-0">
                                <p class="badge badge-ligh bdg_bg">{{data.sales_order_count}}</p>
                        </div>
                        <div class="col-xs-5 pl-0">
                            <a class="col-xs-12 doc-filter dropdown-toggle" id="sales_order_menu" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="sales_order_menu" style="left: -166px;">
                                <li><a id="so-submit" class="list-action">Submit</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a id="so-cancel" class="list-action">Cancel</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a id="so-delete" class="list-action">Delete</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a id="so-print" class="list-action">Print</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="list-action" id="so-select-all">Select All</a></li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 gap material-request" id="p1">
            <div class="row" style="margin-right:0">
                <div class="col-xs-8" style="text-align: left;padding-left: 30px;">
                    <h5>Material Request</h5>
                </div>
                <div class="col-xs-4">
                    <div class="row align-middle">
                        <div class="col-xs-7 text-right prl-0">
                                <p class="badge badge-ligh bdg_bg">{{data.material_req_count}}</p>
                        </div>
                        <div class="col-xs-5 pl-0">
                            <a class="col-xs-2 doc-filter dropdown-toggle" id="material_req_menu" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="material_req_menu" style="left: -166px;">
                                <li><a class="list-action" id="mr-submit">Submit</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="list-action" id="mr-cancel">Cancel</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="list-action" id="mr-delete">Delete</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a id="mr-print" class="list-action">Print</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="list-action" id="mr-select-all">Select All</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 gap purchase-order" id="p1">
            <div class="row" style="margin-right:0">
                <div class="col-xs-8" style="text-align: left;padding-left: 30px;">
                    <h5>Purchase Order</h5>
                </div>
                <div class="col-xs-4">
                    <div class="row align-middle">
                        <div class="col-xs-7 text-right prl-0">
                            <p class="badge badge-ligh bdg_bg">{{data.purchase_ord_count}}</p>
                        </div>
                        <div class="col-xs-5 pl-0">
                            <a class="col-xs-2 doc-filter dropdown-toggle" id="purchase_ord_menu" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="purchase_ord_menu" style="left: -166px;">
                                <li><a class="list-action" id="po-submit">Submit</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="list-action" id="po-cancel">Cancel</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="list-action" id="po-delete">Delete</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a id="po-print" class="list-action">Print</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="list-action" id="po-select-all">Select All</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 gap purchase-receipt" id="p1">
            <div class="row" style="margin-right:0">
                <div class="col-xs-8" style="text-align: left;padding-left: 30px;">
                    <h5>Purchase Receipt</h5>
                </div>
                <div class="col-xs-4">
                    <div class="row align-middle">
                        <div class="col-xs-7 text-right prl-0">
                            <p class="badge badge-ligh bdg_bg">{{data.purchase_rec_count}}</p>
                        </div>
                        <div class="col-xs-5 pl-0">
                            <a class="col-xs-2 doc-filter dropdown-toggle" id="purchase_rec_menu" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="purchase_rec_menu" style="left: -166px;">
                                <li><a class="list-action" id="pr-submit">Submit</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="list-action" id="pr-cancel">Cancel</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="list-action" id="pr-delete">Delete</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a id="pr-print" class="list-action">Print</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="list-action" id="pr-select-all">Select All</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ui" id="dash-body" style="border: 1px solid #ced5db; height: 4in;">
        <div class="col-xs-3 gaps sales-order" id="p1">

            <div class="panel-group" id="accordion1" style="margin-top:0px;">
                {% for(var j=0; j<data.sales_order.length; j++) { %}
                <div class="panel panel-default tab_drop" data-doctype="Sales Order"
                    data-name="{{data.sales_order[j].name}}">
                    <div class="panel-heading row">
                        <div class="col-xs-2">
                            <input type="checkbox" name="checkbox-1" id="checkbox-1" data-doctype="Sales Order"
                                data-name="{{data.sales_order[j].name}}">
                        </div>
                        <div class="col-xs-10 panel-head-title" data-toggle="collapse" data-parent="#accordion1"
                            href="#collapsecm1{{j}}">
                            <p class="panel-title">
                                <a style="font-weight: bold">{{j+1}}.</a>
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapsecm1{{j}}"
                                    data-toggle="tooltip"
                                    title="{{data.sales_order[j].customer}}/{{data.sales_order[j].name}}">
                                    {{data.sales_order[j].title}}
                                </a>
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.sales_order[j].item_count}} Item(s)</span>
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.sales_order[j].status}}</span>
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.sales_order[j].medley_orderid}}</span>    
                        </div>
                    </div>
                    <div id="collapsecm1{{j}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Qty</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for(var k=0; k<data.sales_order[j].items.length; k++) { %}
                                    <tr>
                                        <td
                                            title="{{data.sales_order[j].items[k].item_name}}({{data.sales_order[j].items[k].item_code}})">
                                            {{k+1}}.{{data.sales_order[j].items[k].item_name}}</td>
                                        <td class="ag_right">{{data.sales_order[j].items[k].qty}}</td>
                                        <td class="ag_right">{{data.sales_order[j].items[k].rate}}</td>
                                        <td class="ag_right">{{data.sales_order[j].items[k].amount}}</td>
                                    </tr>
                                    {% } %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% } %}
            </div>


        </div>
        <div class="col-xs-3 gaps material-request" id="p1">

            <div class="panel-group" id="accordion2">
                {% for(var o=0; o<data.material_req.length; o++) { %}
                <div class="panel panel-default tab_drop" data-doctype="Material Request"
                    data-name="{{data.material_req[o].name}}">
                    <div class="panel-heading row">
                        <div class="col-xs-2">
                            <input type="checkbox" name="checkbox-1" id="checkbox-1" data-doctype="Material Request"
                                data-docstatus="{{data.material_req[o].docstatus}}" data-isprocessed="{{data.material_req[o].is_processed}}"
                                data-status="{{data.material_req[o].status}}" data-per_ordered="{{data.material_req[o].per_ordered}}"
                                data-name="{{data.material_req[o].name}}" data-type="{{data.material_req[o].material_request_type}}">
                        </div>
                        <div class="col-xs-10 panel-head-title" data-toggle="collapse" data-parent="#accordion2"
                            href="#collapsecm2{{o}}">
                            <p class="panel-title">
                                <a style="font-weight: bold">{{o+1}}.</a>
                                <a data-toggle="collapse" data-parent="#accordion2" data-toggle="tooltip"
                                    title="{{data.material_req[o].customer_name}}/{{data.material_req[o].name}}"
                                    href="#collapsecm2{{o}}">
                                    {{data.material_req[o].title}}
                                </a>
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.material_req[o].item_count}} Item(s)</span>
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.material_req[o].status}}</span>
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.material_req[o].material_request_type}}</span>
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.material_req[o].medleyorderid}}</span>        
                        </div>
                    </div>
                    <div id="collapsecm2{{o}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Qty</th>
                                        <th>UOM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for(var k=0; k<data.material_req[o].items.length; k++) { %}
                                    <tr>
                                        <td>{{k+1}}.{{data.material_req[o].items[k].item_name}}({{data.material_req[o].items[k].item_code}})
                                        </td>
                                        <td class="ag_right">{{data.material_req[o].items[k].qty}}</td>
                                        <td class="ag_right">{{data.material_req[o].items[k].uom}}</td>
                                    </tr>
                                    {% } %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% } %}
            </div>


        </div>
        <div class="col-xs-3 gaps purchase-order" id="p1">

            <div class="panel-group" id="accordion3">
                {% for(var j=0; j<data.purchase_ord.length; j++) { %}
                <div class="panel panel-default tab_drop" data-doctype="Purchase Order"
                    data-name="{{data.purchase_ord[j].name}}">
                    <div class="panel-heading row">
                        <div class="col-xs-2">
                            <input type="checkbox" name="checkbox-1" id="checkbox-1" data-doctype="Purchase Order"
                                data-name="{{data.purchase_ord[j].name}}">
                        </div>
                        <div class="col-xs-10 panel-head-title" data-toggle="collapse" data-parent="#accordion3"
                            href="#collapsecm3{{j}}">
                            <p class="panel-title">
                                <a style="font-weight: bold">{{j+1}}.</a>
                                <a data-toggle="collapse" data-parent="#accordion3" data-toggle="tooltip"
                                    title="{{data.purchase_ord[j].supplier}}/{{data.purchase_ord[j].name}}"
                                    href="#collapsecm3{{j}}">
                                    {{data.purchase_ord[j].title}}
                                </a>
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.purchase_ord[j].item_count}} Item(s)</span>
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.purchase_ord[j].status}}</span>
                        </div>
                    </div>
                    <div id="collapsecm3{{j}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Qty</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for(var k=0; k<data.purchase_ord[j].items.length; k++) { %}
                                    <tr>
                                        <td>{{k+1}}.{{data.purchase_ord[j].items[k].item_name}}</td>
                                        <td class="ag_right">{{data.purchase_ord[j].items[k].qty}}</td>
                                        <td class="ag_right">{{data.purchase_ord[j].items[k].rate}}</td>
                                        <td class="ag_right">{{data.purchase_ord[j].items[k].amount}}</td>
                                    </tr>
                                    {% } %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% } %}
            </div>


        </div>
        <div class="col-xs-3 gaps purchase-receipt" id="p1">

            <div class="panel-group" id="accordion4">
                {% for(var j=0; j<data.purchase_rec.length; j++) { %}
                <div class="panel panel-default tab_drop" data-doctype="Purchase Receipt"
                    data-name="{{data.purchase_rec[j].name}}">
                    <div class="panel-heading row">
                        <div class="col-xs-2">
                            <input type="checkbox" name="checkbox-1" id="checkbox-1" data-doctype="Purchase Receipt"
                                data-name="{{data.purchase_rec[j].name}}">
                        </div>
                        <div class="col-xs-10 panel-head-title" data-toggle="collapse" data-parent="#accordion4"
                            href="#collapsecm4{{j}}">
                            <p class="panel-title">
                                <a style="font-weight: bold">{{j+1}}.</a>
                                <a data-toggle="collapse" data-parent="#accordion4" data-toggle="tooltip"
                                    title="{{data.purchase_rec[j].supplier}}/{{data.purchase_rec[j].name}}"
                                    href="#collapsecm4{{j}}">
                                    {{data.purchase_rec[j].title}}
                                </a>
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.purchase_rec[j].item_count}} Item(s)</span>
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.purchase_rec[j].status}}</span>
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.purchase_rec[j].medley_master_orderid}}</span>    
                        </div>
                    </div>
                    <div id="collapsecm4{{j}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered table-scroll">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>B.Qty</th>
                                            <th>F.Qty</th>
                                            <th>Batch</th>
                                            <th>Rate</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for(var k=0; k<data.purchase_rec[j].items.length; k++) { %}
                                        <tr>
                                            <td>{{k+1}}.{{data.purchase_rec[j].items[k].item_name}}</td>
                                            <td class="ag_right">{{data.purchase_rec[j].items[k].qty}}</td>
                                            <td class="ag_right">{{data.purchase_rec[j].items[k].free_qty}}</td>
                                            <td class="ag_right">{{data.purchase_rec[j].items[k].batch_no}}</td>
                                            <td class="ag_right">{{data.purchase_rec[j].items[k].rate}}</td>
                                            <td class="ag_right">{{data.purchase_rec[j].items[k].amount}}</td>
                                        </tr>
                                        {% } %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
                {% } %}
            </div>


        </div>
        <div id="contextMenu" class="dropdown clearfix">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
                style="display:block;position:static;margin-bottom:5px;">
                <li><a tabindex="-1" id="highlight_linked">Highlight Linked</a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a tabindex="-1" id="opendoc">Open Document in New Tab</a>
                </li>
            </ul>
        </div>

    </div>
</div>



<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document" style="width: 99%">
        <div class="modal-content" style="max-height: 5.5in; overflow-y: scroll;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="js-title-step"></h4>
            </div>
            <div class="modal-body">
                <div class="row hide riz-col" style="border: 1px solid; border-right: 0; border-left: 0;" data-step="1"
                    data-title="Check and Fill Billed and Free Quantity">
                    <div class="col-xs-12" style="border-bottom: 1px solid; padding: 5px;">
                        <span class="col-xs-3 indicator green">
                            <span class="hidden-xs">Available Qty</span>
                            <span class="hidden-xs" id="av_qty"></span>
                        </span>
                        <span class="col-xs-3 indicator red">
                            <span class="hidden-xs">Available Free Qty</span>
                            <span class="hidden-xs" id="av_free_qty"></span>
                        </span>
                        <span class="col-xs-3 indicator blue">
                            <span class="hidden-xs">Total Ordered Qty</span>
                            <span class="hidden-xs" id="tot_ord_qty"></span>
                        </span>
                        <span class="col-xs-3 indicator orange">
                            <span class="hidden-xs">Total Recieved Qty</span>
                            <span class="hidden-xs" id="tot_rec_qty"></span>
                        </span>
                    </div>
                    <div class="col-xs-12" style="border-bottom: 1px solid; padding: 5px;">
                        <div class="col-xs-8">
                            <table class="table table-bordered" id="example" style="font-size: 10px; margin: 0; max-height: 100px; overflow-y: scroll;">
                                <thead>
                                    <tr>
                                        <th>Batch No.</th>
                                        <th style="width: 100px;">Vir. Ware ({{data.ware}})</th>
                                        <th style="width: 100px;">Def. Ware ({{data.default_ware}})</th>
                                        <th style="width: 100px;">Free. Ware ({{data.free_warehouse}})</th>
                                        <th>PTS</th>
                                        <th>PTR</th>
                                        <th>MRP</th>
                                        <th>Exp.</th>
                                    </tr>
                                </thead>
                                <tbody class="batch_data">
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-4">
                            <div style="border: 1px solid; text-align: center; "id="item_name"></div>
                            <ul class="list-group" id="item_data"></ul>
                        </div>

                    </div>
                    <div class="col-xs-4 viz-col" id="saor" style="border-right: 1px solid; padding: 5px;">Sales Orders
                    </div>
                    <div class="col-xs-4 viz-col" id="deno" style="border-right: 1px solid; padding: 5px;">Fill Bills
                    </div>
                    <div class="col-xs-4 viz-col" id="pure" style=" padding: 5px;">Purchase Orders</div>
                </div>
                <div class="row hide riz-col" data-step="2"
                    data-title="Delivery Notes Created Click on the button to view !">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-btn-step pull-left" data-orientation="cancel"
                    data-dismiss="modal"></button>
                <button type="button" class="btn btn-warning js-btn-step" data-orientation="previous"></button>
                <button type="button" class="btn btn-success js-btn-step" data-orientation="next"></button>
            </div>
        </div>
    </div>
</div>
<style>
    .viz-col {
        min-height: 3in;
        max-height: 3in;
        overflow-y: scroll;
    }
</style>