<div id="dash-body-main" id="warehouse" data-warehouse={{data.warehouse}}>
    <div class="row">
        <div class="col-xs-3 gap sales-order" id="p1">
            <div class="row" style="margin-right:0">
                <div class="col-xs-8" style="text-align: left;padding-left: 30px;">
                    <h5>Sales Order</h5>
                </div>
                <h6 class="col-xs-2">
                    <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                        class="badge badge-light">{{data.sales_order_count}}</span>
                </h6>
                <a class="col-xs-2 doc-filter dropdown-toggle" id="sales_order_menu" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="sales_order_menu" style="left: 26px;">
                    <li><a id="so-submit" class="list-action">Submit</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a id="so-cancel" class="list-action">Cancel</a></li>
                    <li role="separator" class="divider"></li>
                    <!-- <li><a id="so-print" class="list-action">Print</a></li>
                    <li role="separator" class="divider"></li> -->
                    <li><a id="so-delete" class="list-action">Delete</a></li>
                    <!-- <li role="separator" class="divider"></li> -->
                    <!-- <li><a id="so-dn">Make Delivery Note for Checked Orders</a></li> -->
                    <li role="separator" class="divider"></li>
                    <li><a class="list-action" id="so-select-all">Select All</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-3 gap purchase-receipt" id="p1">
            <div class="row" style="margin-right:0">
                <div class="col-xs-8" style="text-align: left;padding-left: 30px;">
                    <h5>Purchase Receipt</h5>
                </div>
                <h6 class="col-xs-2">
                    <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                        class="badge badge-light">{{data.purchase_rec_count}}</span>
                </h6>
                <a class="col-xs-2 doc-filter dropdown-toggle" id="purchase_rec_menu" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="purchase_rec_menu" style="left: 26px;">
                    <li><a class="list-action" id="pr-submit">Submit</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="list-action" id="pr-cancel">Cancel</a></li>
                    <li role="separator" class="divider"></li>
                    <!-- <li><a class="list-action" id="pr-print">Print</a></li>
                    <li role="separator" class="divider"></li> -->
                    <li><a class="list-action" id="pr-delete">Delete</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="list-action" id="pr-select-all">Select All</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-3 gap delivery-note" id="p1">
            <div class="row" style="margin-right:0">
                <div class="col-xs-8" style="text-align: left;padding-left: 30px;">
                    <h5>Delivery Note</h5>
                </div>
                <h6 class="col-xs-2">
                    <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                        class="badge badge-light">{{data.delivery_note_count}}</span>
                </h6>
                <a class="col-xs-2 doc-filter dropdown-toggle" id="delivery_note_menu" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="delivery_note_menu" style="left: 26px;">
                    <li><a class="list-action" id="dn-submit">Submit</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="list-action" id="dn-cancel">Cancel</a></li>
                    <li role="separator" class="divider"></li>
                    <!-- <li><a class="list-action" id="dn-print">Print</a></li>
                    <li role="separator" class="divider"></li> -->
                    <li><a class="list-action" id="dn-delete">Delete</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="list-action" id="dn-select-all">Select All</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-3 gap sales-invoice" id="p1">
            <div class="row" style="margin-right:0">
                <div class="col-xs-8" style="text-align: left;padding-left: 30px;">
                    <h5>Sales Invoice</h5>
                </div>
                <h6 class="col-xs-2">
                    <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                        class="badge badge-light">{{data.sales_invoice_count}}</span>
                </h6>
                <a class="col-xs-2 doc-filter dropdown-toggle" id="sales_invoice_menu" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="sales_invoice_menu" style="left: 26px;">
                    <li><a class="list-action" id="si-submit">Submit</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="list-action" id="si-cancel">Cancel</a></li>
                    <li role="separator" class="divider"></li>
                    <!-- <li><a class="list-action" id="si-print">Print</a></li>
                    <li role="separator" class="divider"></li> -->
                    <li><a class="list-action" id="si-delete">Delete</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="list-action" id="si-select-all">Select All</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row ui" id="dash-body" style="border: 1px solid #ced5db; height: 4in;">
        <div class="col-xs-3 gaps sales-order" id="p1">

            <div class="panel-group" id="accordion1" style="margin-top:0px;">
                {% for(var j=0; j<data.sales_order.length; j++) { %}
                <div class="panel panel-default tab_drop" data-doctype="Sales Order"
                    data-name="{{data.sales_order[j].name}}">
                    <div class="panel-heading row">
                        <div class="col-xs-2">
                            <input type="checkbox" name="checkbox-1" id="checkbox-1" data-doctype="Sales Order"
                                data-name="{{data.sales_order[j].name}}">
                        </div>
                        <div class="col-xs-10 panel-head-title" data-toggle="collapse" data-parent="#accordion1"
                            href="#collapsecm1{{j}}">
                            <p class="panel-title">
                                <a style="font-weight: bold">{{j+1}}.</a>
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapsecm1{{j}}"
                                    data-toggle="tooltip"
                                    title="{{data.sales_order[j].customer}}/{{data.sales_order[j].name}}">
                                    {{data.sales_order[j].title}}
                                </a>
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.sales_order[j].item_count}} Items</span>
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.sales_order[j].status}}</span>
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.sales_order[j].medley_orderid}}</span>    
                        </div>
                    </div>
                    <div id="collapsecm1{{j}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Qty</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for(var k=0; k<data.sales_order[j].items.length; k++) { %}
                                    <tr>
                                        <td
                                            title="{{data.sales_order[j].items[k].item_name}}({{data.sales_order[j].items[k].item_code}})">
                                            {{data.sales_order[j].items[k].item_name}}</td>
                                        <td>{{data.sales_order[j].items[k].qty}}</td>
                                        <td>{{data.sales_order[j].items[k].rate}}</td>
                                        <td>{{data.sales_order[j].items[k].amount}}</td>
                                    </tr>
                                    {% } %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% } %}
            </div>


        </div>
        <div class="col-xs-3 gaps purchase-receipt" id="p1">

            <div class="panel-group" id="accordion4">
                {% for(var j=0; j<data.purchase_rec.length; j++) { %}
                <div class="panel panel-default tab_drop" data-doctype="Purchase Receipt"
                    data-name="{{data.purchase_rec[j].name}}">
                    <div class="panel-heading row">
                        <div class="col-xs-2">
                            <input type="checkbox" name="checkbox-1" id="checkbox-1" data-doctype="Purchase Receipt"
                                data-name="{{data.purchase_rec[j].name}}">
                        </div>
                        <div class="col-xs-10 panel-head-title" data-toggle="collapse" data-parent="#accordion4"
                            href="#collapsecm4{{j}}">
                            <p class="panel-title">
                                <a style="font-weight: bold">{{j+1}}.</a>
                                <a data-toggle="collapse" data-parent="#accordion4" data-toggle="tooltip"
                                    title="{{data.purchase_rec[j].supplier}}/{{data.purchase_rec[j].name}}"
                                    href="#collapsecm4{{j}}">
                                    {{data.purchase_rec[j].title}}
                                </a>
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.purchase_rec[j].item_count}} Items</span>
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.purchase_rec[j].status}}</span>
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.purchase_rec[j].medley_master_orderid}}</span>    
                        </div>
                    </div>
                    <div id="collapsecm4{{j}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered table-scroll">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>B.Qty</th>
                                            <th>F.Qty</th>
                                            <th>Batch</th>
                                            <th>Rate</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for(var k=0; k<data.purchase_rec[j].items.length; k++) { %}
                                        <tr>
                                            <td>{{data.purchase_rec[j].items[k].item_name}}</td>
                                            <td>{{data.purchase_rec[j].items[k].qty}}</td>
                                            <td>{{data.purchase_rec[j].items[k].free_qty}}</td>
                                            <td>{{data.purchase_rec[j].items[k].batch_no}}</td>
                                            <td>{{data.purchase_rec[j].items[k].rate}}</td>
                                            <td>{{data.purchase_rec[j].items[k].amount}}</td>
                                        </tr>
                                        {% } %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
                {% } %}
            </div>


        </div>
        <div class="col-xs-3 gaps delivery-note" id="p1">

            <div class="panel-group" id="accordion5">
                {% for(var j=0; j<data.delivery_note.length; j++) { %}
                <div class="panel panel-default tab_drop" data-doctype="Delivery Note"
                    data-name="{{data.delivery_note[j].name}}">
                    <div class="panel-heading row">
                        <div class="col-xs-2">
                            <input type="checkbox" name="checkbox-1" id="checkbox-1" data-doctype="Delivery Note"
                                data-name="{{data.delivery_note[j].name}}">
                        </div>
                        <div class="col-xs-10 panel-head-title" data-toggle="collapse" data-parent="#accordion5"
                            href="#collapsecm5{{j}}">
                            <p class="panel-title">
                                <a style="font-weight: bold">{{j+1}}.</a>
                                <a data-toggle="collapse" data-parent="#accordion5" data-toggle="tooltip"
                                    title="{{data.delivery_note[j].customer}}/{{data.delivery_note[j].name}}"
                                    href="#collapsecm5{{j}}">
                                    {{data.delivery_note[j].title}}
                                </a>
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.delivery_note[j].item_count}} Items</span>
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.delivery_note[j].status}}</span>
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.delivery_note[j].medley_orderid}}</span>  
                        </div>
                    </div>
                    <div id="collapsecm5{{j}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>B.Qty</th>
                                            <th>F.Qty</th>
                                            <th>Batch</th>
                                            <th>Exp.</th>
                                            <th>Rate</th>
                                            <th>Dis %</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for(var k=0; k<data.delivery_note[j].items.length; k++) { %}
                                        <tr>
                                            <td>{{data.delivery_note[j].items[k].item_name}}</td>
                                            <td>{{data.delivery_note[j].items[k].qty}}</td>
                                            <td>{{data.delivery_note[j].items[k].free_qty}}</td>
                                            <td>{{data.delivery_note[j].items[k].batch_no}}</td>
                                            <td>{{data.delivery_note[j].items[k].expiry_date}}</td>
                                            <td>{{data.delivery_note[j].items[k].rate}}</td>
                                            <td>{{data.delivery_note[j].items[k].discount_percentage}}</td>
                                            <td>{{data.delivery_note[j].items[k].amount}}</td>
                                        </tr>
                                        {% } %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
                {% } %}
            </div>


        </div>
        <div class="col-xs-3 gaps sales-invoice" id="p1">

            <div class="panel-group" id="accordion6">
                {% for(var j=0; j<data.sales_invoice.length; j++) { %}
                <div class="panel panel-default tab_drop" data-doctype="Sales Invoice"
                    data-name="{{data.sales_invoice[j].name}}">
                    <div class="panel-heading row">
                        <div class="col-xs-2">
                            <input type="checkbox" name="checkbox-1" id="checkbox-1" data-doctype="Sales Invoice"
                                data-name="{{data.sales_invoice[j].name}}">
                        </div>
                        <div class="col-xs-10 panel-head-title" data-toggle="collapse" data-parent="#accordion6"
                            href="#collapsecm6{{j}}">
                            <p class="panel-title">
                                <a style="font-weight: bold">{{j+1}}.</a>
                                <a data-toggle="collapse" data-parent="#accordion6" data-toggle="tooltip"
                                    title="{{data.sales_invoice[j].customer}}/{{data.sales_invoice[j].name}}"
                                    href="#collapsecm6{{j}}">
                                    {{data.sales_invoice[j].title}}
                                </a>
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <span style="background-color: #abaeaf; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.sales_invoice[j].item_count}} Items</span>
                            <span style="background-color: #abaeaf; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.sales_invoice[j].status}}</span>
                            <span style="background-color: #d0d4d6; font-size:10px; font-weight: 100; color: black;"
                                class="badge badge-light">{{data.sales_invoice[j].medley_orderid}}</span>  
                        </div>
                    </div>
                    <div id="collapsecm6{{j}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>B.Qty</th>
                                            <th>F.Qty</th>
                                            <th>Batch</th>
                                            <th>Exp.</th>
                                            <th>Rate</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for(var k=0; k<data.sales_invoice[j].items.length; k++) { %}
                                        <tr>
                                            <td>{{data.sales_invoice[j].items[k].item_name}}</td>
                                            <td>{{data.sales_invoice[j].items[k].qty}}</td>
                                            <td>{{data.sales_invoice[j].items[k].free_qty}}</td>
                                            <td>{{data.sales_invoice[j].items[k].batch_no}}</td>
                                            <td>{{data.sales_invoice[j].items[k].expiry_date}}</td>
                                            <td>{{data.sales_invoice[j].items[k].rate}}</td>
                                            <td>{{data.sales_invoice[j].items[k].amount}}</td>
                                        </tr>
                                        {% } %}
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
                {% } %}
            </div>


        </div>
        <div id="contextMenu" class="dropdown clearfix">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
                style="display:block;position:static;margin-bottom:5px;">
                <li><a tabindex="-1" id="highlight_linked">Highlight Linked</a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a tabindex="-1" id="opendoc">Open Document in New Tab</a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 70%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="js-title-step"></h4>
            </div>
            <div class="modal-body">
                <div class="row hide" data-step="1" data-title="Fill Details For Purchase Order">
                    <div class="col-xs-6" id="supplier-field"></div>
                    <div class="col-xs-6" id="warehouse-field"></div>
                    <div class="col-xs-6" id="schedule-date-field"></div>
                    <div class="col-xs-6" id="taxes-field"></div>
                </div>
                <div class="row hide" data-step="2" data-title="Check Purchase Order and Proceed to Save">
                    <div class="col-xs-12" id="preview-field"></div>
                </div>
                <div class="row hide" data-step="3" data-title="Purchase Order Created Click on the button to view !">
                    <div class="col-xs-12" id="route-field"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-btn-step pull-left" data-orientation="cancel"
                    data-dismiss="modal"></button>
                <button type="button" class="btn btn-warning js-btn-step" data-orientation="previous"></button>
                <button type="button" class="btn btn-success js-btn-step" data-orientation="next"></button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document" style="width: 99%">
        <div class="modal-content" style="max-height: 5.5in; overflow-y: scroll;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="js-title-step"></h4>
            </div>
            <div class="modal-body">
                <div class="row hide riz-col" style="border: 1px solid; border-right: 0; border-left: 0;" data-step="1"
                    data-title="Check and Fill Billed and Free Quantity">
                    <div class="col-xs-12" style="border-bottom: 1px solid; padding: 5px;">
                        <span class="col-xs-3 indicator green">
                            <span class="hidden-xs">Available Qty</span>
                            <span class="hidden-xs" id="av_qty"></span>
                        </span>
                        <span class="col-xs-3 indicator red">
                            <span class="hidden-xs">Available Free Qty</span>
                            <span class="hidden-xs" id="av_free_qty"></span>
                        </span>
                        <span class="col-xs-3 indicator blue">
                            <span class="hidden-xs">Total Ordered Qty</span>
                            <span class="hidden-xs" id="tot_ord_qty"></span>
                        </span>
                        <span class="col-xs-3 indicator orange">
                            <span class="hidden-xs">Total Recieved Qty</span>
                            <span class="hidden-xs" id="tot_rec_qty"></span>
                        </span>
                    </div>
                    <div class="col-xs-12" style="border-bottom: 1px solid; padding: 5px;">
                        <div class="col-xs-8">
                            <table class="table table-bordered" id="example" style="font-size: 10px; margin: 0; max-height: 100px; overflow-y: scroll;">
                                <thead>
                                    <tr>
                                        <th>Batch No.</th>
                                        <th style="width: 100px;">Vir. Ware ({{data.ware}})</th>
                                        <th style="width: 100px;">Def. Ware ({{data.default_ware}})</th>
                                        <th style="width: 100px;">Free. Ware ({{data.free_warehouse}})</th>
                                        <th>PTS</th>
                                        <th>PTR</th>
                                        <th>MRP</th>
                                        <th>Exp.</th>
                                    </tr>
                                </thead>
                                <tbody class="batch_data">
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-4">
                            <div style="border: 1px solid; text-align: center; "id="item_name"></div>
                            <ul class="list-group" id="item_data"></ul>
                        </div>

                    </div>
                    <div class="col-xs-4 viz-col" id="saor" style="border-right: 1px solid; padding: 5px;">Sales Orders
                    </div>
                    <div class="col-xs-4 viz-col" id="deno" style="border-right: 1px solid; padding: 5px;">Fill Bills
                    </div>
                    <div class="col-xs-4 viz-col" id="pure" style=" padding: 5px;">Purchase Orders</div>
                </div>
                <div class="row hide riz-col" data-step="2"
                    data-title="Delivery Notes Created Click on the button to view !">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-btn-step pull-left" data-orientation="cancel"
                    data-dismiss="modal"></button>
                <button type="button" class="btn btn-warning js-btn-step" data-orientation="previous"></button>
                <button type="button" class="btn btn-success js-btn-step" data-orientation="next"></button>
            </div>
        </div>
    </div>
</div>
<style>
    .viz-col {
        min-height: 3in;
        max-height: 3in;
        overflow-y: scroll;
    }
</style>